/* color palette
white: #ffffff
red: #d83d3d
beige: #f7cd97
blue: #879bd3
orange: #da7840
pink: #cb4f6c
light green: #a69809
olive: #75782f
*/




body {
    margin: 0;
    /* background: lightgray; */
    max-width: 100vw;
}

main {
  max-width: 100vw;
}

a {
    text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

h4 {
  padding: 0;
  margin: 0;
}


/* LOGO */

header div.logo-box {
  /* background:pink; */
  margin: 120px;
  display: flex;
  flex-direction: column;
  justify-content: auto;
}

.logo {
  padding-top: 5px;
  padding-bottom: 20px;
  max-width: 100vw;
  /* background-color: pink; */
}

.logo:hover {
-webkit-transform: scale(1);
transform: scale(1.1);
transition: all 2s ease-out;
}


/* SCROLL BAR */

  
/* text scroll
https://stackoverflow.com/questions/71355574/smooth-animation-loop-for-horizontal-text-scroll
*/

.scroll {
    position: relative;
    width: 100vw;
    height: 100%;
    background-color: #d83d3d;
    overflow: hidden;
    z-index: 0;
    margin: 0;
    padding: 0;
  }
  
  .m-scroll {
    /* overflow: hidden; */
    height: 100%;
    white-space: nowrap;
    animation: scrollText 15s infinite linear;
    margin: 0;
    font-size: 0;
    display: inline-block;
  }
  
  span.top-scroll {
    font-size: 25px;
    font-family: garamond-premier-pro, serif;
    font-weight: 600;
    display: inline-block;
    min-width: 30vw;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .scroll:hover{
    background: #a69809;
  }






/* -webkit-transform: scale(1.3);
	transform: scale(1.3); */







/* MAIN SECTION */



.main-1 {
    /* background-color: orange; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(auto);
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */
    padding: 0;
    max-width: 100vw;
    margin: 300px;
    /* flex-grow: 1; */
    }

.image {
  width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  /* object-fit: cover; */
}
.f-image-cap {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: right;
  padding:0;
  margin:0;
  background-color: white;
  padding-right: 10px;
  padding-bottom: 10px;
}
h3.image-cap {
  font-size: 16px;
  font-family: noto-sans, sans-serif;
  font-weight: 500;
  padding:0;
  margin:0;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 5px;
}
h4.image-cap {
  font-family: noto-sans, sans-serif;
  font-size: 11px;
  font-weight: 500;
  display: flex;
  flex-direction: row-reverse;
  padding:0;
  margin:-1px;
}
.image-cap-box {
  background-color: white;
}
.box1 {
  /* self portrait */
  background-color: white;
  height: 70%;
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/3;
  /* opacity: 50%; */
  /* margin-right: 20px; */
}

.box1-image {
  background-image: url(/assets/selfportrait.JPG)
}
.box1:hover, .box2:hover, .box3-1:hover, .box3-2:hover, .box4:hover, .box5:hover, .box6:hover, .box7:hover, .box8:hover, .box9:hover, .box10:hover, .box11:hover, .box12-1:hover, .box12-2:hover, .box13:hover, .box14:hover, .box15:hover, .box16:hover, .box17:hover, .box18:hover, .box19:hover, .box20:hover, .box21:hover, .box22:hover{
  -webkit-transform: scale(1);
  transform: scale(1.5);
  transition: all 1s ease-out;
  border: white solid 15px;
  padding-bottom: 55px;
  /* border-bottom: none; */
  }
.f-image-cap:hover {
  background-color: #f7cd97;
  transition: all 1s ease-out;
}
.box2 {
  /* mom portrait */
  background-color: white;
  height: 250px;
  width: 250px;
  grid-column: 2/3;
  grid-row: 1/3;
  /* opacity: 50%; */
  justify-self: center;
}
.box2-image {
  background-image: url(/assets/mom.JPG)
}
.box3-1 {
  /* 2 still lifes  */
  background-color: white;
  height: 250px;
  width: 190px;
  grid-column: 3/4;
  justify-self: left;
  grid-row: 1/2;
  margin-left: -15px;
  /* opacity: 50%; */
}
.box3-1-image {
  background-image: url(/assets/still_life1.JPG)
}
.box3-2 {
  /* 2 still lifes  */
  background-color: white;
  height: 250px;
  width: 190px;
  grid-column: 3/4;
  justify-self: right;
  grid-row: 1/2;
  /* opacity: 50%; */
}
.box3-2-image {
  background-image: url(/assets/still_life2.JPG)
}

.box4 {
  /* gpa */
  background-color: white;
  height: 320px;
  width: 320px;
  grid-column: 2/3;
  grid-row: 2/3;
  /* opacity: 50%; */
  margin-top: 100px;
  margin-left: 70px;
  justify-self: center;
}
.box4-image {
  background-image: url(/assets/grandpa.jpg)
}

.box5 {
  /* watercolor */
  background-color: white;
  height: 350px;
  width: 250px;
  grid-row: 2/3;
  /* opacity: 50%; */
  margin-top: 100px;
  margin-left: 50px;
  justify-self: right;
}
.box5-image {
  background-image: url(/assets/watercolor.JPG)
}
.box6 {
  /* fresh out the orphanage */
  background-color: white;
  height: 300px;
  width: 400px;
  /* opacity: 50%; */
  margin-top: -55px;
}
.box6-image {
  background-image: url(/assets/adoption.JPG)
}
.box7 {
  /* rainbow garden food */
  background-color: white;
  height: 200px;
  width: 280px;
  /* opacity: 50%; */
  grid-column: 2/4;
  grid-row: 3/3;
  margin-left: 110px;
  margin-top: 80px;
  justify-self: left;

}
.box7-image {
  background-image: url(/assets/food.JPG)
}
.box8 {
  /* white swan */
  background-color: white;
  height: 400px;
  width: 300px;
  /* opacity: 50%; */
  margin-top: 80px;
  grid-column: 3/3;
  grid-row: 3/5;
  justify-self: right;
}

.box8-image {
  background-image: url(/assets/white_swan_copy.JPG)
}

.box9 {
  /* mom reading adoption book */
  background-color: white;
  height: 450px;
  width: 350px;
  grid-column: 1/2;
  grid-row: 4/4;
  /* opacity: 50%; */
  margin-top: 100px;
}

.box9-image {
  background-image: url(/assets/Finding\ Place\ copy.jpg)
}

.box10 {
  /* marooned */
  background-color: white;
  height: 250px;
  width: 320px;
  /* opacity: 50%; */
  grid-column: 1/3;
  grid-row: 4/4;
  margin-left: 370px;
  margin-top: 100px;
  justify-self: left;
}
.box10-image {
  background-image: url(/assets/marooned.jpg)
}
.box11 {
  /* cat */
  background-color: white;
  height: 180px;
  width: 150px;
  /* opacity: 50%; */
  grid-column: 2/3;
  grid-row: 4/4;
  margin-top: 370px;
  margin-left: 10px;
  justify-self: left;
}
.box11-image {
  background-image: url(/assets/cat.JPG)
}
.box12-1 {
  /* billie and gape */
  background-color: white;
  height: 200px;
  width: 150px;
  /* opacity: 50%; */
  grid-column: 3/4;
  grid-row: 4/5;
  margin-top: 300px;
  margin-left: 50px;
  justify-self: left;
}
.box12-1-image {
  background-image: url(/assets/billie.JPG)
}
.box12-2 {
  /* billie and gape */
  background-color: white;
  height: 200px;
  width: 150px;
  /* opacity: 50%; */
  grid-column: 3/4;
  grid-row: 4/5;
  margin-top: 300px;
  justify-self: right;
}
.box12-2-image {
  background-image: url(/assets/Gape\ copy.JPG)
}
.box13 {
  /* hunan girl 1*/
  background-color: white;
  height: 250px;
  width: 350px;
  /* opacity: 50%; */
  grid-column: 1/1;
  grid-row: 4/6;
  margin-top: 650px;
}
.box13-image {
  background-image: url(/assets/hunan1.JPG)
}
.box14 {
  /* hunan girl 2 */
  background-color: white;
  height: 250px;
  width: 350px;
  /* opacity: 50%; */
  grid-column: 1/3;
  grid-row: 4/6;
  margin-top: 650px;
  margin-left: 370px;
}
.box14-image {
  background-image: url(/assets/hunan2.JPG)
}
.box15 {
  /* final smidgen */
  background-color: white;
  height: 200px;
  width: 200px;
  /* opacity: 50%; */
  grid-column: 3/3;
  grid-row:5/5;
  margin-top: 150px;
  margin-left: 150px;
  justify-self: right;
}
.box15-image {
  background-image: url(/assets/swirls.JPG)
}
.box16 {
  /* graphite final 1 */
  background-color: white;
  height: 300px;
  width: 250px;
  /* opacity: 50%; */
  grid-column:1/3;
  grid-row: 5/6;
  margin-top: 470px;
}
.box16-image {
  background-image: url(/assets/drawing1.JPG)
}
.box17 {
  /* graphite final 2 */
  background-color: white;
  height: 300px;
  width: 250px;
  /* opacity: 50%; */
  grid-column:1/3;
  grid-row: 5/6;
  margin-top: 470px;
  margin-left: 260px;
}
.box17-image {
  background-image: url(/assets/drawing2.JPG)
}
.box18 {
  /* group */
  background-color: white;
  height: 220px;
  width: 220px;
  /* opacity: 50%; */
  grid-column: 2/4;
  grid-row:6/7;
  margin-left: 200px;
  margin-top: 100px;
}
.box18-image {
  background-image: url(/assets/group.JPG)
}
.box19 {
  /* solo */
  background-color: white;
  height: 450px;
  width: 300px;
  /* opacity: 50%; */
  grid-column: 3/4;
  grid-row:6/7;
  margin-left: 80px;
  margin-top: 100px;
  justify-self: right;
}
.box19-image {
  background-image: url(/assets/solo.JPG)
}
.box20 {
  /* duo big */
  background-color: white;
  height: 450px;
  width: 320px;
  /* opacity: 50%; */
  grid-row: 6/8;
  grid-column: 1/2;
  margin-top: 350px;
}
.box20-image {
  background-image: url(/assets/duo\ big.JPG)
}
.box21 {
  /* duo sitting */
  background-color: white;
  height: 300px;
  width: 220px;
  /* opacity: 50%; */
  grid-row: 6/8;
  grid-column: 2/4;
  margin-top: 600px;
  margin-left: 50px;
  justify-self: left;
}
.box21-image {
  background-image: url(/assets/duo\ sit.jpg)
}
.box22 {
  /* duo small */
  background-color: white;
  height: 300px;
  width: 220px;
  /* opacity: 50%; */
  grid-row: 6/8;
  grid-column: 2/4;
  margin-top: 600px;
  margin-left: 280px;
  justify-self: left;
}
.box22-image {
  background-image: url(/assets/duo\ small.JPG)
}






/* ABOUT MENU BAR */

.material-symbols-outlined.awardStar {
    position:fixed;
    top:100%;
    bottom:100%;
    font-size: 40px;
    cursor: pointer;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    /* overflow:auto; */
}

.menu {
    position: fixed;
    flex-direction: column;
    top: 0;
    right: -515px;
    width: 450px;
    height: 100%;
    background: #d83d3d;
    color: white;
    transition: right 1s ease;
    padding-top: 60px;
    padding-left: 15px;
    /* padding-right: 10px; */
  }

  .menu a {
    padding: 10px 15px;
    display: block;
    color: white;
    text-decoration: none;
  }


  /* Menu visible state */
  .menu.visible {
    right: 0; /* Slide in */
  }


  #toggleMenu {
    display: block;
    position: fixed;
    top: 0;
    right: 100px;
    /* padding: 10px 10px; */
    /* background-color: white; */
    border-radius: 50%;
    color: #d83d3d;
    border: none;
    cursor: pointer;
    z-index: 100000000;
  }

  .toggleMenuOpen {
    color: white;
    z-index: 1;
  }


.headshotHeader{
  font-family: garamond-premier-pro, serif;
  font-weight: 700;
  color: white;
  font-size: 35px;
}

.headshot-box {
  background-color: white;
  height: 500px;
  width: 400px;
}

.headshot-box-image {
  background-image: url(/assets/headshot.JPG)
}

.headshot-cap {
  background-color: pink;
  margin-right: 50px;
}

.headshot-cap p{
  font-family: garamoundpro, serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
}

.headshot-cap2 h4 {
  /* background-color: pink; */
  margin-right: 50px;
  margin-bottom: 5px;
  padding: 0;
  font-family: noto-sans; sans-serif;
}


a.contact-item {
  /* background-color: blue; */
  font-family: noto-sans; sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin:0;
  padding: 5px 0 5px 0;
}

a.contact-item:hover {
  color: yellow;
}






















/* dark mode */

.material-symbols-outlined.mode-button {
	font-size: 40px;
	cursor: pointer;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
    z-index: 1;

}

.material-symbols-outlined.default-mode {
  /* visibility: hidden; */
	color: #d83d3d;
}

.material-symbols-outlined.night-mode {
	/* background-color: pink; */
	color: pink;
}


.change-mode {
	position: absolute;
	top: 0;
	right: 0;
	display: grid;
}

.state-night-mode {
	background-color: pink;
	/* color: white; */
}

.state-night-mode a {
	color: white;
}

.state-night-mode a:hover {
	color: black;
}



/* day mode settings */

.material-symbols-outlined.default-mode2 {
	color: white;
	visibility: hidden;
}

.material-symbols-outlined.day-mode {
	color: white;
}


.change-mode2 {
	position: absolute;
	top: 0;
	right: 0;
	display: grid;
	margin-right: 50px;
}

.state-day-mode {
	background-color: white;
	color: black;
	border-color: black;
}

