/* color palette
white: #ffffff
red: #d83d3d
beige: #f7cd97
blue: #879bd3
orange: #da7840
pink: #cb4f6c
light green: #a69809
olive: #75782f
*/

body {
    margin: 0;
    background: lightgray;
}

a {
    text-decoration: none;
}






  
/* text scroll
https://stackoverflow.com/questions/71355574/smooth-animation-loop-for-horizontal-text-scroll
*/

.scroll {
    position: relative;
    width: 100vw;
    height: 100%;
    min-height: 20px;
    background-color: white;
    overflow: hidden;
    z-index: 0;
    margin: 0;
    padding: 0;
  }
  
  .m-scroll {
    /* overflow: hidden; */
    height: 100%;
    white-space: nowrap;
    animation: scrollText 25s infinite linear;
    margin: 0;
    font-size: 0;
    display: inline-block;
  }
  
  span.top-scroll {
    font-size: 18px;
    font-family: garamond-premier-pro, serif;
    font-weight: 600;
    display: inline-block;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }





.logo {
    /* background:pink; */
    padding-top: 50px;
    padding-bottom: 50px;
}

nav.menu-header {
    background-color: #d83d3d;
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
    margin: 0;
}

.menu-bar {
    font-family: garamond-premier-pro, serif;
    font-weight: 400;
    color: white;
    font-size: 18px;
    padding: 0;
    margin: 5px;
}




/* MAIN SECTION */


.artwork-section {
    

}

.main-1 {
    background-color: orange;
    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(2, 0fr);
    grid-template-rows: 2fr 1fr 2fr repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 10px;
    }

.photography-section {
    
}






/* ABOUT MENU BAR */

span.material-symbols-outlined.awardStar {
    position: fixed;
    top:0;
    bottom:0;
    font-size: 40px;
    cursor: pointer;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.menu {
    position: fixed;
    flex-direction: column;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background: #d83d3d;
    color: white;
    transition: right 0.5s ease;
    padding-top: 60px;
  }

  .menu a {
    padding: 10px 15px;
    display: block;
    color: white;
    text-decoration: none;
  }


  /* Menu visible state */
  .menu.visible {
    right: 0; /* Slide in */
  }


  #toggleMenu {
    display: block;
    position: fixed;
    top: 0;
    right: 100px;
    /* padding: 10px 10px; */
    /* background-color: white; */
    border-radius: 50%;
    color: #d83d3d;
    border: none;
    cursor: pointer;
    /* z-index: 10000; */
  }

  .toggleMenuOpen {
    color: white;
    z-index: 1;
  }





























/* dark mode */

.material-symbols-outlined.mode-button {
	font-size: 40px;
	cursor: pointer;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
    z-index: 1;

}

.material-symbols-outlined.default-mode {
	color: pink;
	visibility: hidden;
}

.material-symbols-outlined.night-mode {
	/* background-color: pink; */
	color: black;
}


.change-mode {
	position: absolute;
	top: 0;
	right: 0;
	display: grid;
}

.state-night-mode {
	background-color: pink;
	/* color: white; */
}

.state-night-mode a {
	color: white;
}

.state-night-mode a:hover {
	color: black;
}



/* day mode settings */

.material-symbols-outlined.default-mode2 {
	color: white;
	visibility: hidden;
}

.material-symbols-outlined.day-mode {
	color: white;
}


.change-mode2 {
	position: absolute;
	top: 0;
	right: 0;
	display: grid;
	margin-right: 50px;
}

.state-day-mode {
	background-color: white;
	color: black;
	border-color: black;
}

.state-day-mode div {
	border-color: black;
}

.state-day-mode nav {
	border-color: black;
}
