/* color palette
white: #ffffff
red: #d83d3d
beige: #f7cd97
blue: #879bd3
orange: #da7840
pink: #cb4f6c
light green: #a69809
olive: #75782f
*/




body {
  margin: 0;
  /* background: lightgray; */
  max-width: 100vw;
}

main {
  max-width: 100vw;
  padding-top: 50px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

h4 {
  padding: 0;
  margin: 0;
}


/* LOGO */

header div.logo-box {
  /* background:pink; */
  margin: 120px;
  display: flex;
  flex-direction: column;
  justify-content: auto;
}

.logo {
  padding-top: 5px;
  padding-bottom: 20px;
  max-width: 100vw;
  /* background-color: pink; */
}

.logo:hover {
  -webkit-transform: scale(1);
  transform: scale(1.1);
  transition: all 2s ease-out;
}

.elements {
  z-index: 0;
}

/* SCROLL BAR */


/* text scroll
https://stackoverflow.com/questions/71355574/smooth-animation-loop-for-horizontal-text-scroll
*/

.scroll {
  position: relative;
  width: 100vw;
  height: 100%;
  background-color: #d83d3d;
  overflow: hidden;
  z-index: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.m-scroll {
  /* overflow: hidden; */
  height: 100%;
  white-space: nowrap;
  animation: scrollText 15s infinite linear;
  margin: 0;
  font-size: 0;
  display: inline-block;
  cursor: pointer;
}

span.top-scroll {
  font-size: 25px;
  font-family: garamond-premier-pro, serif;
  font-weight: 600;
  display: inline-block;
  min-width: 30vw;
  margin: 0;
  padding: 0;
  color: white;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.scroll:hover {
  background: #a69809;
}






/* -webkit-transform: scale(1.3);
	transform: scale(1.3); */





/* ARTWORK LOGO */
.artwork-svg {
  /* position: absolute;
  top: 1250px;
  left: 110px; */
  /* height: 600px;
  width: 450px; */
  grid-column: 1/1;
  grid-row: 1/1;
  z-index: 0;
  margin-left: -190px;
  margin-top: -200px;
  cursor: pointer;
  /* border: 3px solid #73AD21; */
}

.artwork-svg:hover {
  filter: invert(52%) sepia(81%) saturate(1601%) hue-rotate(26deg) brightness(96%) contrast(93%);
}

.h-artwork-svg {
  display: none;
}

/* PHOTOGRAPHY LOGO */
.photography-svg {
  z-index: 0;
  grid-column: 3/3;
  grid-row: 6/6;
  justify-self: right;
  margin-right: -180px;
  margin-top: -80px;
  cursor: pointer;
  /* border: 3px solid #73AD21; */
}


.photography-svg:hover {
  filter: invert(45%) sepia(60%) saturate(574%) hue-rotate(338deg) brightness(106%) contrast(83%);
  z-index: 0;
}

.h-photography-svg {
  display: none;
}



/* MAIN ARTWORK SECTION */



.main-1 {
  /* background-color: orange; */
  margin: auto;
  display: grid;
  /* background-color: pink; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(auto);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 0;
  margin-bottom: 300px;
  margin-top: 300px;
  width: 1200px;
  z-index: 20;
  /* flex-grow: 1; */
}

.image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* object-fit: cover; */
}

.f-image-cap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: right;
  padding: 0;
  margin: 0;
  /* background-color: white; */
  padding-right: 10px;
  padding-bottom: 10px;
}

h3.image-cap {
  font-size: 16px;
  font-family: noto-sans, sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 5px;
}

h4.image-cap {
  font-family: noto-sans, sans-serif;
  font-size: 11px;
  font-weight: 500;
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  margin: -1px;
}

.image-cap-box {
  background-color: white;
}

.box1:hover,
.box6:hover,
.box8:hover,
.box9:hover,
.box11:hover,
.box19:hover,
.box20:hover {
  -webkit-transform: scale(1);
  transform: scale(1.5);
  transition: all 1s ease-out;
  border: white solid 10px;
  padding-bottom: 55px;
  cursor: pointer;
  /* border-bottom: none; */
}

.box4:hover,
.box5:hover,
.box13:hover,
.box14:hover,
.box15:hover,
.box16:hover,
.box17:hover,
.box18:hover,
.box21:hover,
.box22:hover {
  -webkit-transform: scale(1);
  transform: scale(1.8);
  transition: all 1s ease-out;
  border: white solid 10px;
  padding-bottom: 55px;
  cursor: pointer;
  /* border-bottom: none; */
}

.box2:hover,
.box3-1:hover,
.box3-2:hover,
.box7:hover,
.box10:hover,
.box11:hover,
.box12-1:hover,
.box12-2:hover {
  -webkit-transform: scale(1);
  transform: scale(2);
  transition: all 1s ease-out;
  border: white solid 10px;
  padding-bottom: 55px;
  cursor: pointer;
  /* border-bottom: none; */
}

.f-image-cap:hover {
  background-color: #f7cd97;
  transition: all 1s ease-out;
  cursor: pointer;
}

.box1 {
  /* self portrait */
  background-color: white;
  height: 600px;
  width: 450px;
  grid-column: 1/2;
  grid-row: 1/3;
  /* opacity: 50%; */
  /* margin-right: 20px; */
}

.box1-image {
  background-image: url(/assets/selfportrait.JPG)
}

.box2 {
  /* mom portrait */
  background-color: white;
  height: 250px;
  width: 250px;
  grid-column: 2/3;
  grid-row: 1/3;
  /* opacity: 50%; */
  justify-self: center;
}

.box2-image {
  background-image: url(/assets/mom.JPG)
}

.box3-1 {
  /* 2 still lifes  */
  background-color: white;
  height: 240px;
  width: 180px;
  grid-column: 3/4;
  justify-self: left;
  grid-row: 1/2;
  /* opacity: 50%; */
}

.box3-1-image {
  background-image: url(/assets/still_life1.JPG)
}

.box3-2 {
  /* 2 still lifes  */
  background-color: white;
  height: 240px;
  width: 180px;
  grid-column: 3/4;
  justify-self: right;
  grid-row: 1/2;
  /* opacity: 50%; */
}

.box3-2-image {
  background-image: url(/assets/still_life2.JPG)
}

.box4 {
  /* gpa */
  background-color: white;
  height: 320px;
  width: 320px;
  grid-column: 2/3;
  grid-row: 2/3;
  /* opacity: 50%; */
  margin-top: 100px;
  justify-self: right;
}

.box4-image {
  background-image: url(/assets/grandpa.jpg)
}

.box5 {
  /* watercolor */
  background-color: white;
  height: 350px;
  width: 250px;
  grid-row: 2/3;
  /* opacity: 50%; */
  margin-top: 100px;
  justify-self: right;
}

.box5-image {
  background-image: url(/assets/watercolor.JPG)
}

.box6 {
  /* fresh out the orphanage */
  background-color: white;
  height: 300px;
  width: 400px;
  grid-row:2/4;
  grid-column: 1/2;
  margin-top: 450px;
  /* opacity: 50%; */
}

.box6-image {
  background-image: url(/assets/adoption.JPG)
}

.box7 {
  /* rainbow garden food */
  background-color: white;
  height: 200px;
  width: 280px;
  /* opacity: 50%; */
  grid-column: 2/3;
  grid-row: 3/3;
  margin-top: 80px;
  justify-self: right;

}

.box7-image {
  background-image: url(/assets/food.JPG)
}

.box8 {
  /* white swan */
  background-color: white;
  height: 400px;
  width: 300px;
  /* opacity: 50%; */
  margin-top: 80px;
  grid-column: 3/3;
  grid-row: 3/5;
  justify-self: right;
}

.box8-image {
  background-image: url(/assets/white_swan_copy.JPG)
}

.box9 {
  /* mom reading adoption book */
  background-color: white;
  height: 450px;
  width: 350px;
  grid-column: 1/2;
  grid-row: 4/4;
  /* opacity: 50%; */
  margin-top: 100px;
}

.box9-image {
  background-image: url(/assets/Finding\ Place\ copy.jpg)
}

.box10 {
  /* marooned */
  background-color: white;
  height: 250px;
  width: 320px;
  /* opacity: 50%; */
  grid-column: 2/3;
  grid-row: 4/4;
  margin-top: 100px;
  margin-left: -50px;
  justify-self: left;
}

.box10-image {
  background-image: url(/assets/marooned.jpg)
}

.box11 {
  /* cat */
  background-color: white;
  height: 180px;
  width: 150px;
  /* opacity: 50%; */
  grid-column: 2/3;
  grid-row: 4/4;
  margin-top: 370px;
  margin-left: -50px;
  justify-self: left;
}

.box11-image {
  background-image: url(/assets/cat.JPG)
}

.square1 {
  height: 100px;
  width: 100px;
  background-color: #a69809;
  z-index: 0;
  grid-row: 4/5;
  grid-column: 2/3;
  justify-self: right;
  align-items: flex-end;
  margin-top: 450px;
  margin-right: 100px;
  cursor: pointer;
}

.box12-1 {
  /* billie */
  background-color: white;
  height: 200px;
  width: 150px;
  /* opacity: 50%; */
  grid-column: 3/4;
  grid-row: 4/5;
  margin-top: 300px;
  justify-self: left;
  margin-left: 50px;
}

.box12-1-image {
  background-image: url(/assets/billie.JPG)
}

.box12-2 {
  /* gape */
  background-color: white;
  height: 200px;
  width: 150px;
  /* opacity: 50%; */
  grid-column: 3/4;
  grid-row: 4/5;
  margin-top: 300px;
  justify-self: right;
}

.box12-2-image {
  background-image: url(/assets/Gape\ copy.JPG)
}

.box13 {
  /* hunan girl 1*/
  background-color: white;
  height: 250px;
  width: 350px;
  /* opacity: 50%; */
  grid-column: 1/1;
  grid-row: 4/6;
  margin-top: 680px;
}

.box13-image {
  background-image: url(/assets/hunan1.JPG)
}

.box14 {
  /* hunan girl 2 */
  background-color: white;
  height: 250px;
  width: 350px;
  /* opacity: 50%; */
  grid-column: 1/3;
  grid-row: 4/6;
  margin-top: 680px;
  margin-left: 260px;
  justify-self: center;
}

.box14-image {
  background-image: url(/assets/hunan2.JPG)
}

.square2-1 {
  background-color: #f7cd97;
  height: 25px;
  width: 25px;
  grid-row: 5/5;
  grid-column: 3/4;
  z-index: 0;
  justify-self: left;
  margin-top: 200px;
  cursor: pointer;
}

.square2-2 {
  background-color: #f7cd97;
  height: 25px;
  width: 25px;
  grid-row: 5/5;
  grid-column: 3/4;
  z-index: 0;
  justify-self: left;
  margin-top: 250px;
  cursor: pointer;
}

.square2-3 {
  background-color: #f7cd97;
  height: 25px;
  width: 25px;
  grid-row: 5/5;
  grid-column: 3/4;
  z-index: 0;
  justify-self: left;
  margin-top: 300px;
  cursor: pointer;
}

.box15 {
  /* final smidgen */
  background-color: white;
  height: 200px;
  width: 200px;
  /* opacity: 50%; */
  grid-column: 3/3;
  grid-row: 5/5;
  margin-top: 150px;
  justify-self: right;
}

.box15-image {
  background-image: url(/assets/swirls.JPG)
}

.box16 {
  /* graphite final 1 */
  background-color: white;
  height: 300px;
  width: 250px;
  /* opacity: 50%; */
  grid-column: 1/3;
  grid-row: 5/6;
  margin-top: 500px;
}

.box16-image {
  background-image: url(/assets/drawing1.JPG)
}

.box17 {
  /* graphite final 2 */
  background-color: white;
  height: 300px;
  width: 250px;
  /* opacity: 50%; */
  grid-column: 1/3;
  grid-row: 5/6;
  margin-top: 500px;
  justify-self: center;
}

.box17-image {
  background-image: url(/assets/drawing2.JPG)
}

.square3-1 {
  background-color: #879bd3;
  height: 300px;
  width: 8px;
  grid-row: 6/6;
  grid-column: 2/3;
  z-index: 0;
  justify-self: center;
  margin-top: -305px;
  margin-left: -150px;
  cursor: pointer;

}

.square3-2 {
  display: none;
  background-color: #cb4f6c;
  height: 300px;
  width: 8px;
  grid-row: 6/6;
  grid-column: 2/3;
  z-index: 0;
  justify-self: center;
  margin-top: -305px;
  margin-left: -100px;
}

.square3-3 {
  display: none;
  background-color: #da7840;
  height: 300px;
  width: 8px;
  grid-row: 6/6;
  grid-column: 2/3;
  z-index: 0;
  justify-self: center;
  margin-top: -305px;
  margin-left: -50px;
}

.square3-4 {
  display: none;
  background-color: #f7cd97;
  height: 300px;
  width: 8px;
  grid-row: 6/6;
  grid-column: 2/3;
  z-index: 0;
  justify-self: center;
  margin-top: -305px;
  margin-left: 0px;
}

.square4-1 {
  height: 15px;
  width: 450px;
  background-color: #d83d3d;
  grid-column: 1/3;
  grid-row: 6/7;
  margin-top: 200px;
  cursor: pointer;
}

.square4-2 {
  height: 260px;
  width: 15px;
  background-color: #d83d3d;
  grid-column: 1/2;
  grid-row: 6/7;
  margin-top: 200px;
  justify-self: right;
  cursor: pointer;
  display: none;
}

.square4-3 {
  height: 15px;
  width: 230px;
  background-color: #d83d3d;
  grid-column: 2/2;
  grid-row: 6/7;
  margin-top: 450px;
  margin-left: -19px;
  justify-self: left;
  cursor: pointer;
  display: none;
}

.box18 {
  /* group */
  background-color: white;
  height: 220px;
  width: 220px;
  /* opacity: 50%; */
  grid-column: 2/3;
  grid-row: 6/7;
  margin-top: 100px;
  justify-self: right;
}

.box18-image {
  background-image: url(/assets/group.JPG)
}

.box19 {
  /* solo */
  background-color: white;
  height: 450px;
  width: 300px;
  /* opacity: 50%; */
  grid-column: 3/4;
  grid-row: 6/7;
  margin-top: 100px;
  justify-self: right;
}

.box19-image {
  background-image: url(/assets/solo.JPG)
}

.box20 {
  /* duo big */
  background-color: white;
  height: 450px;
  width: 320px;
  /* opacity: 50%; */
  grid-row: 6/8;
  grid-column: 1/2;
  margin-top: 350px;
}

.box20-image {
  background-image: url(/assets/duo\ big.JPG)
}

.box21 {
  /* duo sitting */
  background-color: white;
  height: 300px;
  width: 220px;
  /* opacity: 50%; */
  grid-row: 6/8;
  grid-column: 2/4;
  margin-top: 600px;
  justify-self: left;
}

.box21-image {
  background-image: url(/assets/duo\ sit.jpg)
}

.box22 {
  /* duo small */
  background-color: white;
  height: 300px;
  width: 220px;
  /* opacity: 50%; */
  grid-row: 6/8;
  grid-column: 2/4;
  margin-top: 600px;
  justify-self: center;
}

.box22-image {
  background-image: url(/assets/duo\ small.JPG)
}






/* ABOUT MENU BAR */


/* .profileBox {
  position: fixed;
} */
.menu {
  position: fixed;
  flex-direction: column;
  top: 0;
  right: -500px;
  width: 450px;
  height: 100%;
  visibility: visible;
  background: #d83d3d;
  color: white;
  transition: right 1s ease;
  padding-top: 60px;
  padding-left: 20px;
  z-index: 10;
  /* padding-right: 10px; */
}

.menu a {
  padding: 10px 15px;
  display: block;
  color: white;
  text-decoration: none;
}


/* Menu visible state */
.menu.visible {
  right: 0;
  /* Slide in */
}

/* award star */
#toggleMenu {
  visibility: visible;
  display: block;
  position: absolute;
  top: 60px;
  right: 12px;
  /* padding: 10px 10px; */
  /* background-color: white; */
  border-radius: 50%;
  color: red;
  border: none;
  cursor: pointer;
  z-index: 9000000000000000000;
  font-size: 40px;
}


.headshotHeader {
  font-family: garamond-premier-pro, serif;
  font-weight: 700;
  color: white;
  font-size: 35px;
}

.headshot-box {
  background-color: white;
  height: 500px;
  width: 400px;
}

.headshot-box-image {
  background-image: url(/assets/headshot.JPG)
}

.headshot-cap {
  /* background-color: pink; */
  margin-right: 50px;
}

.headshot-cap p {
  font-family: garamoundpro, serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
}

.headshot-cap2 h4 {
  /* background-color: pink; */
  margin-right: 50px;
  margin-bottom: 0;
  padding: 0;
  padding-top: 5px 0 5px 0;
  font-family: noto-sans, sans serif;
}


a.contact-item {
  /* background-color: blue; */
  font-family: noto-sans, sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin: 2px;
  padding: 0;
}

a.contact-item:hover {
  color: yellow;
}















/* dark mode */

.f-image-cap-pink {
  background-color: pink;
}

.material-symbols-outlined.mode-button {
  font-size: 45px;
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  z-index: 1;
  padding-right: 10px;
  padding-top: 10px;
  font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
}

.material-symbols-outlined.default-mode {
  visibility: hidden;
  color: white;
}

.material-symbols-outlined.night-mode {
  /* background-color: pink; */
  color: #d83d3d;
  ;
}


.change-mode {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
}

.state-night-mode a {
  color: white;
}

.state-night-mode a:hover {
  color: black;
}

.state-night-mode {
  background-color: pink;
  visibility: 'hidden'
    /* color: white; */
}


.state-night-mode .elements {
  background-color: white;
}

.state-night-mode .square4-1,
.square4-2,
.square4-3 {
  display: none;
}

.state-night-mode .square4-1-1 {
  display:inline;
  height: 15px;
  width: 450px;
  background-color: white;
  grid-column: 1/3;
  grid-row: 6/7;
  margin-top: 200px;
  cursor: pointer;
}





/* MEDIA QUERY WIDTH 990PX */

@media screen and (max-width: 990px) {

  header div.logo-box {
    margin: 0;
    justify-self: center;
  }

  .elements {
    display: none;
  }

  .state-night-mode .elements {
    display:none;
  }

  .logo-box {
    padding: 0;
    margin: 0;
    /* width: 800px; */
  }

  .artwork-svg {
    display: none;
  }

  .h-artwork-svg {
    display: inline;
    height: 300px;
  }

  .h-photography-svg {
    display: inline;
    height: 300px;
  }

  .photography-svg {
    display: none;
  }

  .h-artwork-svg:hover {
    filter: invert(52%) sepia(81%) saturate(1601%) hue-rotate(26deg) brightness(96%) contrast(93%);
    cursor: pointer;
  }

  .h-photography-svg:hover {
    filter: invert(45%) sepia(60%) saturate(574%) hue-rotate(338deg) brightness(106%) contrast(83%);
    z-index: 0;
    cursor: pointer;
  }



  .main-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 100px;
    margin-top: 0;
    max-width: 990px;
    width: 990px;
    margin-right: 0;
    padding-right: 0;
  }

  .main-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* pointer-events:none; */
  }

  .box1,
  .box2,
  .box3-1,
  .box3-2,
  .box4,
  .box5,
  .box6,
  .box7,
  .box8,
  .box9,
  .box10,
  .box11,
  .box12-1,
  .box12-2,
  .box13,
  .box14,
  .box15,
  .box16,
  .box17,
  .box18,
  .box19,
  .box20,
  .box21,
  .box22 {
    pointer-events: none;
    padding: 0;
    margin: 0;
  }

  .box1 {
    width: 500px;
    height: 650px;
  }

  .box2 {
    height: 400px;
    width: 400px;
  }

  .box3-1,
  .box3-2 {
    width: 300px;
    height: 400px;
  }

  .box4 {
    width: 500px;
    height: 500px;
  }

  .box5 {
    width: 400px;
    height: 550px;
  }

  .box7 {
    width: 400px;
    height: 300px;
  }

  .box8 {
    width: 500px;
    height: 630px;
  }

  .box9 {
    width: 500px;
    height: 630px;
  }

  .box10 {
    width: 500px;
    height: 400px;
  }

  .box11,
  .box12-1,
  .box12-2 {
    height: 400px;
    width: 300px;
  }

  .box13,
  .box14 {
    width: 500px;
    height: 350px;
  }

  .box15 {
    height: 300px;
    width: 300px;
  }

  .box16,
  .box17 {
    width: 500px;
    height: 620px;
  }

  .box18 {
    width: 500px;
    height: 500px;
  }

  .box19,
  .box20,
  .box21,
  .box22 {
    width: 500px;
    height: 640px;
  }

}



/* MEDIA QUERY WIDTH 750 PX */

@media screen and (max-width: 750px) {

  .state-night-mode .elements {
    display:none;
  }

  .h-artwork-svg {
    display: inline;
    height: 300px;
  }

  .h-photography-svg {
    display: inline;
    height: 300px;
  }

  .elements {
    display: none;
  }

  .main-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 80px;
    margin-top: 0;
    max-width: 750px;
    width: 750px;
    margin-right: 0;
    padding-right: 0;
  }

  .main-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    /* pointer-events:none; */
  }

  .box1,
  .box2,
  .box3-1,
  .box3-2,
  .box4,
  .box5,
  .box6,
  .box7,
  .box8,
  .box9,
  .box10,
  .box11,
  .box12-1,
  .box12-2,
  .box13,
  .box14,
  .box15,
  .box16,
  .box17,
  .box18,
  .box19,
  .box20,
  .box21,
  .box22 {
    pointer-events: none;
    padding: 0;
    margin: 0;
  }

}


@media screen and (max-width: 550px) {

  .elements {
    display:none;
  }

  .state-night-mode .elements {
    display:none;
  }

  .h-artwork-svg {
    display: inline;
    height: 200px;
  }

  .h-artwork {
    width: 450px;
    padding: 0;
    margin: 0;
  }

  .h-photography-svg {
    display: inline;
    height: 280px;
  }

  .h-photography {
    width: 400px;
    padding: 0;
    margin: 0;
  }

  .main-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 100px;
    margin-top: 0;
    max-width: 550px;
    width: 550px;
    margin-right: 0;
    padding-right: 0;
  }

  .main-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* pointer-events:none; */
  }

  .box1,
  .box2,
  .box3-1,
  .box3-2,
  .box4,
  .box5,
  .box6,
  .box7,
  .box8,
  .box9,
  .box10,
  .box11,
  .box12-1,
  .box12-2,
  .box13,
  .box14,
  .box15,
  .box16,
  .box17,
  .box18,
  .box19,
  .box20,
  .box21,
  .box22 {
    pointer-events: none;
    padding: 0;
    margin: 0;
  }

  .box1 {
    width: 400px;
    height: 550px;
  }

  .box2 {
    height: 300px;
    width: 300px;
  }

  .box3-1,
  .box3-2 {
    width: 230px;
    height: 300px;
  }

  .box4 {
    width: 400px;
    height: 400px;
  }

  .box5 {
    width: 330px;
    height: 450px;
  }

  .box7 {
    width: 300px;
    height: 200px;
  }

  .box8 {
    width: 380px;
    height: 530px;
  }

  .box9 {
    width: 400px;
    height: 530px;
  }

  .box10 {
    width: 400px;
    height: 300px;
  }

  .box11,
  .box12-1,
  .box12-2 {
    height: 300px;
    width: 200px;
  }

  .box13,
  .box14 {
    width: 370px;
    height: 250px;
  }

  .box15 {
    height: 200px;
    width: 200px;
  }

  .box16,
  .box17 {
    width: 400px;
    height: 520px;
  }

  .box18 {
    width: 400px;
    height: 400px;
  }

  .box19,
  .box20,
  .box21,
  .box22 {
    width: 400px;
    height: 540px;
  }

}